# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Archivos de entorno
.env
.env.* 

# Archivos de usuario / sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo

# Migraciones compiladas
*.mo
*.pot

# Media y estáticos generados
media/
staticfiles/

# Tests y coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribución / empaquetado
*.egg-info/
.installed.cfg
*.egg
build/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Documentación
docs/_build/

# PyInstaller
*.manifest
*.spec

# Otros
deploy.sh
